---
import Header from './header.astro';
import Footer from './footer.astro';
import '@/styles/global.scss';

interface Props {
  title?: string;
	showHeader?: boolean
	showFooter?: boolean
}

const {
	title = 'Twir',
	showHeader = true,
	showFooter = true,
} = Astro.props;

const description =
  'Powerful and useful Twitch bot that helps manage chat on big channels. Developed from streamers for streamers with love.';
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" type="image/svg+xml" href="/favicon.svg">

    <meta name="generator" content={Astro.generator}>
    <meta name="description" content={description}>
    <meta name="keywords" content="twir, twir bot, tsuwari, twitch bot, tsuwari bot">
    <meta name="author" content="Satont, me@satont.ru">

		<meta name="darkreader-lock">

    <meta property="og:title" content={title}>
    <meta property="og:url" content="/">
    <meta property="og:description" content={description}>
    <meta property="og:image" content="">

    <title>{title}</title>

		<script async src="https://umami.twir.app/script.js" data-website-id="77f327a4-1744-4fb5-9fea-97ffbbc76806"></script>
  </head>
  <body class="bg-[#09090B] overflow-x-hidden">
		<span
      class="absolute content-[''] h-[482px] rounded-full pointer-events-none bg-[radial-gradient(50%_50%_at_50%_50%,_#1F1232_0%,_rgba(9,9,11,0.00)_100%)] -z-20 -top-[220px] right-0 left-0 mx-auto"
    ></span>

		{showHeader && <Header />}
    <slot />
		{showFooter && <Footer />}
  </body>
</html>
