---
import FeaturesBlock from '@/components/sections/FeaturesBlock.vue';
import FirstScreen from '@/components/sections/FirstScreen.vue';
import Footer from '@/components/sections/Footer.vue';
import Header from '@/components/sections/Header.vue';
import IntegrationsBlock from '@/components/sections/IntegrationsBlock.vue';
import PricingBlock from '@/components/sections/PricingBlock.vue';
import ReviewsBlock from '@/components/sections/ReviewsBlock.vue';
import StatsLine from '@/components/sections/StatsLine.vue';
import TeamBlock from '@/components/sections/TeamBlock.vue';
import * as data from '@/data';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<Header menuItems={data.navMenuItems} />
		<main>
			<FirstScreen />
			<StatsLine stats={data.stats} />
			<FeaturesBlock features={data.features} />
			<IntegrationsBlock />
			<ReviewsBlock client:idle reviews={data.reviews} />
			<TeamBlock teamMembers={data.teamMembers} />
			<PricingBlock planColorThemes={data.planColorThemes} pricePlans={data.pricePlans} />
		</main>
		<Footer menuItems={data.navMenuItems} socials={data.socials} />
	</body>
</html>
